* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f0f0;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.marco-calculadora{
    background-color: #77777759;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}
.marca-calculadora{
    font-size: 2rem;
    color:red;
    font-weight: 1000;
}

.pantalla-calculadora{
    background-color: #2d2d2d;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    min-height: 80px;
    min-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 300;
}

.botones-calculadora{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    

}

.botones-calculadora button{
    margin: 4px;
    padding: 15px;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    transition: all 0.2s ease;
    border: 2px solid white;
}

.botones-calculadora button:active {
  transform: scale(0.95);
}

.numero{
    background-color: rgb(20, 33, 84);
    color:white;
    font-size: 1em;
}

.numero:hover{
    background-color: rgba(79, 92, 241, 0.681);
    /* font-size: 1.5rem; */
}

.operador{
    background-color: rgb(222, 138, 20);
    color:white;
    font-size: 1em;
}

.operador:hover{
    background-color: rgb(245, 200, 0);
}
.limpiador{
    background-color: rgba(255, 0, 0, 0.896);
    color: white;
}

.limpiador:hover{
    background-color: rgb(255, 134, 21);
}

.operador[data-valor="="]{
    grid-column: 3 / span 2;
}

