* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fefaf1;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculator-frame{
    background-color: #15151559;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    border:2px solid black;
}
.calculator-brand{
    font-size: 2rem;
    color:red;
    font-weight: 1000;
}

.calculator-display{
    background-color: #2d2d2d;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    min-height: 80px;
    min-width: 300px;
    overflow: hidden;
    word-wrap: break-word;
    font-weight: 300;
}

.calculator-buttons{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:5px;
    

}

.calculator-buttons button{
    margin: 4px;
    padding: 15px;
    border-radius:10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    cursor:pointer;
    transition: all 0.2s ease;
    border: 2px solid white;
}

.calculator-buttons button:active {
  transform: scale(0.95);
}

.number{
    background-color: rgb(20, 33, 84);
    color:white;
    font-size: 1em;
}

.number:hover{
    background-color: rgba(79, 92, 241, 0.681);
    /* font-size: 1.5rem; */
}

.operator{
    background-color: rgb(222, 138, 20);
    color:white;
    font-size: 1em;
}

.operator:hover{
    background-color: rgb(245, 200, 0);
}
.clear-button{
    background-color: rgba(255, 0, 0, 0.896);
    color: white;
}

.clear-button:hover{
    background-color: rgb(255, 134, 21);
}

.operator[data-value="="]{
    grid-column: 3 / span 2;
}

.history{
    background-color: beige;
    min-height: 500px;
    min-width: 400px;
    margin:1rem;
    box-shadow:  10px 5px 5px rgba(0, 0, 0, 0.3);
    border:2px solid black;
    border-radius: 15px;
    max-height: 515px;
    overflow-y: auto;
    padding-left: 0;
}
.history-tile{
    display: flex;
    justify-content: center; 
    padding: 10px;  
}
.history-item {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    list-style: none;
}

.history-item:hover {
    background-color: #e0e0e0;
}

.history-item-title{
    padding:5px;
    margin: 5px;
    color:rgb(109, 109, 238);
}
.clean-history{
    padding: 5px 20px;    
    background-color: aqua;
    border-radius: 10px;
    border: none;            
    font-size: 1rem;   
   
}
.clean-history:hover{
    
    background-color: rgb(236, 237, 165);
    cursor:pointer;
}